body {
  margin: 0;
  background-color: #1c1814;
}
* {
  box-sizing: border-box;
}
header {
  position: absolute;
  width: 100vw;
  height: 1126px;
  left: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 0px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  padding-left: 200px;
  margin-top: 20px;
}
.navbar ul:last-of-type {
  padding-left: 0;
  padding-right: 200px;
  padding-left: 50px;
}
.navbar ul li {
  padding: 17px;
}
.navbar img.logo {
  cursor: pointer;
}
.navbar ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 12px;
}
