body {
  margin: 0;
  background-color: #14110E;
  
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 25px;
}
/* [class^="col"] {
  padding: 10px;
} */
.col {
  flex: 1 0 0;
}
.col-auto {
  flex: 0 0 auto;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.3333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333333%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.33333333%;
}
.col-11 {
  flex: 0 0 96.66666667%;
}
.col-12 {
  flex: 0 0 100%;
}

header {
  background-color: #1c1814;
}
.navbar {
  max-width: 985px;
  margin: 0 auto;
  padding-right: 10px;
}
nav {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav {
  justify-content: flex-start;
}
footer nav img {
  margin-right: 17px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .navbar ul {
  flex-grow: 1;
}
.navbar ul li {
  padding: 0 17px;
}
.navbar img.logo {
  cursor: pointer;
}
.navbar ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 21.78px;
}
footer .navbar ul li a {
  font-family: "Urbanist", sans-serif;
  font-size: 13px;
}
.navbar ul li a.color-brown {
  color: #c99e71;
  font-weight: 700;
  line-height: 22px;
  vertical-align: top;
}
main {
  background-image: url(./images-icons/bg-image.jpg);
  background-size: cover;
  background-position: bottom;
  height: 84vh;
}
.container {
  max-width: 835px;
  margin: 0 auto;
}
main .intro-title {
  font-family: Righteous;
  max-width: 370px;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.5px;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 10px;
}
main .intro-subtitle {
  font-family: "Urbanist", sans-serif;
  text-transform: capitalize;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffc0;
  max-width: 363px;
  letter-spacing: 0.5px;
  margin-bottom: 43px;
}
main .intro {
  padding-top: 60px;
}
.btn {
  width: auto;
  padding: 17px 15px;
  background-color: #c99e71;
  border: 0;
}
.btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 13.5px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}
.test-btn {
  padding: 17px 28px;
}
.test-btn a {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0ch;
}
.play {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 335px;
}
.process {
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 27px;
}
.process-card {
  grid-column: span 1;
}
.process-card p {
  color: #ffffff;
  font-family: Righteous;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin: 10px 0;
}
.step-number {
  color: #C99E71;
  margin-right: 5px;
}
.history {
  margin: 100px 0;
  justify-content: space-between;
}
.history-2-img {
  margin-top: 18px;
}
.our-history-card {
  background-color: #201b15;
  padding: 90px 35px 0;
  height: 468.78px;
}
h6 {
  font-family: "Urbanist", sans-serif;
  color: #c99e71d2;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.head {
  color: #ffffff;
  font-family: Righteous;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.3px;
  margin: 0;
  margin-bottom: 40px;
}
.card-txt {
  font-family: "Urbanist", sans-serif;
  text-transform: capitalize;
  color: #ffffff9d;
  font-size: 11px;
  letter-spacing: .5px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 25px;
}
.center-txt {
  text-align: center;
}
.popular-product-card {
  padding: 40px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  background: #121315;
}
.coffee-bag {
  margin-bottom: 8px;
}
.txt-upper {
  text-transform: uppercase; 
}
.btn-shop {
  margin-top: 15px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
}
.btn-shop a {
  font-size: 12px;
  text-transform: none;
  font-family: 'Urbanist';
  margin-left: 5px;
}
.btn-shop img, a {
  display: inline-block;
  vertical-align: middle;
}
.starred {
  font-size: 12px;
  margin-top: 20px;
}
.stars {
  vertical-align: top;
}
.price {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 21.78px;
}
.brown {
  font-family: "Urbanist", sans-serif;
  color: #c99e71d2;
  font-size: 14px;
}
.btn-product {
  padding: 13px 30px;
}
.grey-card {
  background-color: #201b15;
  padding: 50px;
}
.americano-card {
  padding: 15px;
  border: 1px solid rgba(68, 67, 67, 0.404);
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
} 
.coffee-menu {
  text-decoration: none;
  color: #ffffff;
  font-family: Righteous;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.3px;
}
.coffee-price {
  flex-grow: 1;
  text-align: right;
}
.gray-card {
  background-color: #201b15;
  padding: 25px;
}
.phead {
  margin: 0;
}
.customer-img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.white-urbanist {
  font-family: "Urbanist", sans-serif;
  color: #ffffffde;
  font-size: 13px;
  margin-bottom: 0;
}
.rating {
  justify-content: space-between;
}
.specialty {
  font-size: 10px;
}
.rating-stars {
  gap: 2px;
  vertical-align: top;
}
.rating-bar {
  margin-top: 25px;
  justify-content: space-between;
}
h5 {
  margin: 0;
  margin-bottom: 10px;
}
.six-p {
  width: 100px;
  background-color: #241e17;
  height: 3px;
  border-radius: 50px;
}
.two-p {
  width: 35px;
  background-color: #c99e71d2;
  height: 3px;
  border-radius: 50px 0 0 50px;
}
.arrows {
  gap: 10px;
}
.arrow-left {
  background-color: #121315;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  color: white; 
}
.arrow-right {
  background-color: #c99e71;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
  color: black;  
}
.booking {
  gap: 0;
}
.map-img {
  width: 100%;
}
.booking_form {
  background-color: #14110E;
  border: 0;
  padding: 15px;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 15px;
}
.booking_form:last-of-type {
  margin-bottom: 40px;
}
.news-img {
  width: 100%;
}
.news-card {
  background-color: #201b15;
}
.news-card_info {
  padding: 15px;
}
.news-content {
  color: #ffffffe7;
  font-family: Righteous;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin: 10px 0 15px;
}
a.brown {
  text-decoration: none;
  font-size: 12px;
}
.email_form {
  background-color: #1C1814;
  border: 0;
  border-radius: 25px;
  padding: 17px;
  font-family: "Urbanist", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
footer .history {
  margin-bottom: 0;
}
.credit {
  padding: 30px;
}